* {
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 62.5%;

}

body {
    font-family: 'Open Sans', sans-serif;   /* fonte padrão para o corpo das páginas */
    font-size: 22px;                        /* tamanho de fonte padrão para o corpo das páginas - controlar o restante com "rem" */
    background-color: #FFFFFF;            /* cor de fundo padrão para o corpo das páginas */ 
    margin: 0;                              /* reset de margens */
    padding: 0;                             /* reset de paddings */
 } 

