header {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 5rem;

}

header div:nth-child(2){
    padding: 1rem 0;
}

header div:nth-child(2) button{
    width: 134px;
    height: 36px;
    border: 1px solid #6D2080;
    background-color: #fff;
}

header div:nth-child(2) button a{
    text-decoration: none;
    color: #6D2080;
    text-align: right;
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-child(1){
    max-width: 960px;
    width: 100%;
    color: #6D2080;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #6D2080; */
    margin-bottom: 3rem;
}

main section:nth-child(1) div {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 20%;
}

/* MENU DROP DOWN*/

main section form{
    width: 95%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

main section form label{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

main section form select {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #8D8D8D;
    background-color: #fff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

main section form select *{
    font-size: 1.3rem;
    background-color: #fff;
}

main section form input{
    font-size: 1.5rem;
    background: #6D2080;
    border-radius: 10px;
    border: none;
    color: #fff;
    width: 15%;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}


/* FIM DO MENU DROPDOWN */  

main section:nth-child(1) div:nth-child(2){
    display: flex;
    
}

main section:nth-child(1) div:nth-child(2) button{
    background: #6D2080;
    border-radius: 10px;
    color: #fff;
    border: none;
    height: 100%;
    font-size: 1.5rem;
}

/* -----Section 2----------*/

main section.bandeiras{
    display: flex;
    /* border: 2px solid black; */
    height: 10vh;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
    height: 15vh;
    margin-bottom: 3rem;
}

main section.bandeiras div{
    width: 20%;
    border: 1px solid #8D8D8D;
    height: 100%;
    
}

footer{
    /* position: absolute;
    bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: solid 1px blueviolet; */
    height: 50vh;
}

footer div {
    max-width: 960px;
    font-size: 2.0rem;
    /* border: solid 1px black; */
    margin: 0 auto;
}

footer div.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  footer div.pagination a.active {
    background-color: #6D2080;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  footer div.pagination a:hover:not(.active) {background-color: #ddd;}